@keyframes run {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-150%);
  }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-revert {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes stretch {
    0% {
        height: 130px;
    }
    50% {
        height: 218px;
    }
    100% {
        height: 130px;
    }
}

@keyframes stretch2 {
    0% {
        height: 218px;
    }
    50% {
        height: 85px;
    }
    100% {
        height: 218px;
    }
}

@keyframes vlevo-vpravo {
    0% {
        width: 10%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 10%;
    }
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80%);
    }
}


@keyframes line1 {
    0% {
        width: 50px;
    }
    50% {
        width: 300px;
    }
    100% {
        width: 50px;
    }
}
@keyframes line2 {
    0% {
        width: 300px;
    }
    50% {
        width: 50px;
    }
    100% {
        width: 300px;
    }
}
@keyframes line3 {
    0% {
        width: 300px;
    }
    50% {
        width: 150px;
    }
    100% {
        width: 300px;
    }
}
@keyframes line4 {
    0% {
        width: 75px;
    }
    50% {
        width: 250px;
    }
    100% {
        width: 75px;
    }
}
@keyframes line5 {
    0% {
        width: 150px;
    }
    50% {
        width: 300px;
    }
    100% {
        width: 150px;
    }
}
@keyframes line6 {
    0% {
        width: 250px;
    }
    50% {
        width: 25px;
    }
    100% {
        width: 250px;
    }
}
@keyframes line7 {
    0% {
        width: 300px;
    }
    50% {
        width: 150px;
    }
    100% {
        width: 300px;
    }
}

@keyframes shar-animate {
    0% {
        left: 8%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 8%;
    }
}

@keyframes fill-change {
  0%, 50%, 100% {
    fill: #b6b6fc;
  }
  25% {
    fill: transparent;
  }
}

@keyframes arrow-fill-—Åhange {
  0%, 50%, 100% {
    fill: transparent;
  }
  25% {
    fill: black;
  }
}
